<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit your marks</title>
</head>
<body>
<form action ="/submit" method="POST">
    <label for="Science">science</label><br>
    <input type="text" id ="science" name = "science" value=0><br>
    <label for="Maths">maths</label><br>
    <input type="text" id ="maths" name = "maths" value=0><br>
    <label for="Science">social</label><br>
    <input type="text" id ="social" name = "social" value=0><br>
    <label for="Science">philosophy</label><br>
    <input type="text" id ="philosophy" name = "philosophy" value=0><br>
    <input type="submit" value ="Submit"><br>


</form>
<p>please enter your mark to get college admission</p>
</body>
</html>