<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>End Result:</title>
</head>
<body>
    <table border="2">
        {% for key,values in score.items() %}
        <tr>
            <th>{{ key }}</th>

            <th>{{ values }}</th>


        </tr>
        {% endfor %}
    </table>


<!--{% if score >=50 %}-->
<!--<h1>you have cleared your interviews</h1>-->
<!--{% else: %}-->
<!--<h1>You have not cleared your test ,please try again..</h1>-->
<!--{% endif%}-->

</body>
</html>